* {
  border: 0px;
}
body {
  background: url('halftone.png') repeat scroll 0% 0% transparent;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.container {
  width: 500px;
  margin: 0px auto;
}
h1 {
  font-size: 48px;
  color: rgba(0,0,0,0.5);
  text-shadow: 0px 3px 2px rgba(150, 150, 150, 0.5);
}
#question {
  margin-top: 96px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: rgba(0,0,0,0.45);
  text-shadow: 0px 3px 2px rgba(150, 150, 150, 0.5);
  font-weight: bold;
}
.game-container {
  width: 379px;
  height: 379px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.7);
  margin: 0px auto;
  margin-top: 72px;
  position: relative;
}
.msg {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(238,228,218,0.7);
  position: absolute;
  z-index: 999;
  text-align: center;
  padding-top: 128px;
}
.msg.hidden {
  display: none;
}
.msg a{
  font-size: 24px;
  border-radius: 6px;
  padding: 12px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
.msg a:hover,
.msg a:active,
.msg a:visited {
  color: white;
}
#rematch-button {
  margin: 24px;
}
.sharing {
  display: inline-block;
  vertical-align: middle;
}
.grid,
.tile {
  width: 105px;
  height: 105px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  display:inline-block;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.grid {
  border-radius: 22px;
  border: 16px solid #dbdad4;
}
.tile {
  background: url(tile.png);
  transition: -webkit-transform 0.3s, box-shadow 0.3s, z-index 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, z-index 0.3s;
}
.tile.active {
  transition: -webkit-transform 0.3s, box-shadow 0.3s, z-index 0.3s, 
    top 0.8s cubic-bezier(.94,.6,.67,1.29), 
    left 0.8s cubic-bezier(.94,.6,.67,1.29);
  transition: transform 0.3s, box-shadow 0.3s, z-index 0.3s, 
    top 0.8s cubic-bezier(.94,.6,.67,1.29), 
    left 0.8s cubic-bezier(.94,.6,.67,1.29);
}
.tile.zoomIn {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.tile.zoomOut {
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}
.tile.inactive:hover {
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  box-shadow: 0px 0px 6px 3px rgba(81, 167, 232, 1.0);
}
.tile.inactive:active {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 4px 2px rgba(81, 167, 232, 1.0);
}
.tile.O,
.tile.K,
.tile.EXCLAMATION {
  font-size: 96px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 2px 1px rgba(150,150,150, 1);
}
.tile.O:after {
  content: 'O';
  color: #97d9c5;
}
.tile.K:after {
  content: 'K';
  color: #9f97d9;
}
.tile.EXCLAMATION:after {
  content: '!';
  color: #d997b5;
}
.footer {
  position: absolute;
  left: 0;
  right:0;
  bottom: 48px;
  font-size: 16px;
  text-align: center;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
  outline: 0px none;
}
.ring {
  border: 16px solid;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  color: rgba(0,0,255,0.4);
  background-color: transparent;
}
.cross {
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity:0.4;
}

.cross:before, .cross:after { content: "";
  background-color: rgb(255,0,0);
  position: absolute;
  top: -8px;
  left: -48px;
  width: 96px;
  height: 16px;
  border: 0px;
  border-radius: 3px;
}
.cross:after { 
  top: -48px;
  left: -8px;
  width: 16px;
  height: 96px;
}

